<style>
    .footer-2 {
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        position: fixed;
        text-align: center;
    }
    
    .txt-footer {
        padding-top: 22px;
        float: left;
        /* border: 1px solid blue; */
        width: calc(100% - 130px);
        text-align: right;
        font-size: 8pt;
    }
    
    .img-logo {
        float: left;
        /* border: 1px solid red; */
        width: 80px;
        height: 35px;
    }
    
    .img {
        margin-top: -6px;
        width: 50px;
        height: 50px;
    }
</style>

<div class="footer footer-2 clearfix">
    <div class="img-logo">
        <img class="img" src="assets/layout/images/ginga-one-icon.png" alt="logo" />
    </div>
    <div class="txt-footer">
        <span>Todos os direitos reservados - 2020</span>
    </div>
</div>