.container {
    text-align: center;
    margin-top: 50px;
    img {
        width: 300px;
        margin: 20px;
    }
    label {
        margin: 20px;
        font-size: 20px;
        text-transform: uppercase;
    }
}