<div class="landing-body">
<div class="landing-wrapper">
  <app-header></app-header>

  <div id="features">
    <h1>FUNCIONALIDADES</h1>
    <div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <img src="assets/layout/images/landing/feature-responsive.png" />
          <h3>RESPONSIVE LAYOUT</h3>
          <p>Don’t forget to change this dummy text with your favorite IDE for this icon box.</p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <img src="assets/layout/images/landing/feature-design.png" />
          <h3>MODERN DESIGN</h3>
          <p>Don’t forget to change this dummy text with your favorite IDE for this icon box.</p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <img src="assets/layout/images/landing/feature-cleancode.png" />
          <h3>CLEAN CODE</h3>
          <p>Don’t forget to change this dummy text with your favorite IDE for this icon box. </p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <img src="assets/layout/images/landing/feature-doc.png" />
          <h3>WELL DOCUMENTED</h3>
          <p>Don’t forget to change this dummy text with your favorite IDE for this icon box. </p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <img src="assets/layout/images/landing/feature-grid.png" />
          <h3>POWERFUL GRID</h3>
          <p>Don’t forget to change this dummy text with your favorite IDE for this icon box.</p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <img src="assets/layout/images/landing/feature-support.png" />
          <h3>PREMIUM SUPPORT</h3>
          <p>Don’t forget to change this dummy text with your favorite IDE for this icon box. </p>
        </div>
      </div>
    </div>
  </div>

  <div id="statistics">
    <div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-3">
          <h3>100+</h3>
          <p>UI COMPONENTS</p>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>425</h3>
          <p>HOURS OF DEVELOPMENT</p>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>119</h3>
          <p>CUPS OF COFFEE CONSUMED</p>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>500K+</h3>
          <p>DOWNLOADS</p>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing">
    <div>
      <h1>PLANOS</h1>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <div class="price-type">
            <h3>BEGINNER</h3>
            <span class="price-for">For starters and side projects</span>
            <ul>
              <li>Responsive</li>
              <li>Push Messages</li>
            </ul>
            <span class="currency">$</span>
            <span class="price">5</span>
            <span class="term">/mo</span>
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only raised-btn rounded-btn" routerLink="/signup">
              <span class="ui-button-text ui-c">CHOOSE</span>
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="price-type price-type-popular">
            <span class="popular-title">MOST POPULAR</span>
            <h3>PROFESSIONAL</h3>
            <span class="price-for">For professionals</span>
            <ul>
              <li>Responsive</li>
              <li>Push Messages</li>
              <li>7/24 Support</li>
              <li>Free Shipping</li>
            </ul>
            <span class="currency">$</span>
            <span class="price">10</span>
            <span class="term">/mo</span>
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only raised-btn rounded-btn" routerLink="/signup">
              <span class="ui-button-text ui-c">CHOOSE</span>
            </button>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="price-type">
            <h3>ENTERPRISE</h3>
            <span class="price-for">For enterprise</span>
            <ul>
              <li>Responsive</li>
              <li>Push Messages</li>
              <li>7/24 Support</li>
              <li>Free Shipping</li>
              <li>Unlimited Bandwidth</li>
              <li>Unlimited Storage</li>
            </ul>
            <span class="currency">$</span>
            <span class="price">20</span>
            <span class="term">/mo</span>
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only raised-btn rounded-btn" routerLink="/signup">
              <span class="ui-button-text ui-c">CHOOSE</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="video">
    <div>
      <h1>VIDEO/REFERENCIA</h1>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-YHA84oG-eQ" frameborder="0" allowfullscreen="true"></iframe>
      </div>
    </div>
  </div>
</div>
</div>

<div class="landing-body">
  <div class="landing-wrapper">
      <router-outlet></router-outlet>
      <div id="footer" class="footer">
          <div>
              <img src="../assets/logo-header.png" style="width: 100px;" alt="logo-colored" />
              <div class="social">
              </div>
          </div>
      </div>
  </div>
</div>