form {
    .container {
        img {
            width: 440px;
            margin-top: 25px;
        }
    }
    h3 {
        margin-left: 10px;
        text-transform: uppercase;
    }
    table {
        width: 98.2%;
        margin-left: 7px;
        border-collapse: collapse;
        border: solid 1px #dce2e7;
        background-color: #f5f8f9;
        font-family: arial, sans-serif;
        td,
        th {
            width: 95px;
            padding: 8px;
            text-align: center;
            text-transform: uppercase;
            border: solid 1px #dce2e7;
        }
        td:first-child {
            background-color: #eee;
            border-top-color: #fff;
            border-bottom-color: #fff;
            text-transform: uppercase;
        }
        td:nth-child(2) {
            text-align: center;
            background-color: #fff;
        }
        td:nth-child(3) {
            text-align: center;
            background-color: #fff;
        }
        td:last-child {
            text-align: center;
            background-color: #fff;
        }
        th {
            background-color: #eee;
            border-top-color: #fff;
            border-bottom-color: #fff;
        }
    }
    %u-back-ground-color-title {
        background-color: #f0f3f5;
    }
    @mixin center() {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .box {
        max-width: 70%;
        margin-top: 20px;
        @include center();
    }
    .lm-title-card {
        h1 {
            font-weight: 0;
            text-transform: uppercase;
        }
        height: 20px;
        padding: 20px;
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 10px;
        @extend %u-back-ground-color-title;
        border-bottom: 1px solid #e7e9f1;
    }
    #btn.ui-grid.box {
        text-align: end;
        margin-bottom: 60px;
        button {
            width: 100%;
            height: 35px;
            width: 150px;
            margin: 5px;
            min-height: 35px;
        }
    }
}

:ng-deep.ui-corner-all {
    border-radius: 5%;
}